.qtext {
    background-image: url("https://s1.1zoom.me/b5050/512/Castles_Germany_Hohenzollern_Castle_Hill_565862_1920x1080.jpg");
    height: 599px;
    width: auto;
    color: white;
}
.qtext-text h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    text-align: center;
}

.qtext-text {
    padding-top: 100px;
}
.pro1 {
    padding: 110px;
    

}